<!DOCTYPE html>
<div class="container-fluid">
  <h1>Cone of Silence</h1>
  
  <div class="row-fluid show-grid">
    <form class="well span12">

      <!-- TODO: add span4 etc. here, or define more rows first? -->

      <textarea rows="10" placeholder="Secret text…"></textarea>

      <div class="input-append">
        <!-- must be on 1 line for bootstrap prepend -->
        <input type="text" placeholder="Secret key…"><button type="submit" class="btn">Encode</button><button type="submit" class="btn">Decode</button>
      </div>

      <button class="btn">Load</button>
      <button type="submit" class="btn">Save</button>

    </form>
  </div>

</div>
  
<script src="/jquery.js"></script>
<script type = "text/javascript">
  $(function() {
  });
</script>
